---
title: Report your COVID-19 diagnostic test result
description: If you would like to provide your company with an update on your health status, report your COVID-19 diagnostic test result.
locale: en-US
release: yokohama
product: Health and Safety Testing
classification: health-and-safety-testing
topic_type: task
last_updated: "2025-01-30"
reading_time_minutes: 1
breadcrumb: [Health and Safety Testing, Safe Workplace, Health and Safety, Employee Service Management]
---

# Report your COVID-19 diagnostic test result

If you would like to provide your company with an update on your health status, report your COVID-19 diagnostic test result.

## Before you begin

Role required: sn\_imt\_core.privacy\_consent\_user

## About this task

You must have agreed to a user privacy consent in order to be able to report your COVID-19 diagnostic test results.

## Procedure

1.  Navigate to **All** &gt; **Health and Safety Testing** &gt; **Report a COVID-19 diagnostic test result**.

    **Note:** To report your test result in the Now Mobile app, navigate to **Health** &gt; **COVID-19 Testing** &gt; **Report a COVID-19 diagnostic test result**. If the **Health** tab is not available, find **COVID-19 Testing** under **More** instead.

2.  On the form, fill in the fields.

    |Field|Description|
    |-----|-----------|
    |Related test request|The test request that you submitted to schedule testing.|
    |Test result|Your test result. The options are **Positive result**, **Negative result**, and **Inconclusive**.|
    |Date you received the result|The date that you received your test result.|

3.  Click **Submit**.


**Parent Topic:**[Health and Safety Testing](../concept/health-safety-testing.md)

