---
title: Review your health test results
description: If you would like to review your recently reported COVID-19 diagnostic test result or add an attachment to a health test, access your previous test results.
locale: en-US
release: australia
product: Health and Safety Testing
classification: health-and-safety-testing
topic_type: task
last_updated: "2026-03-12"
reading_time_minutes: 1
breadcrumb: [Health and Safety Testing, Safe Workplace, Health and Safety, Employee Service Management]
---

# Review your health test results

If you would like to review your recently reported COVID-19 diagnostic test result or add an attachment to a health test, access your previous test results.

## Before you begin

Role required: sn\_imt\_core.privacy\_consent\_user

## Procedure

1.  Navigate to **All** &gt; **Health and Safety Testing** &gt; **My test results**.

2.  Select the test results that you would like to modify or review.

3.  Modify the record by adding an attachment or review the record.

    -   If you are adding an attachment, such as test results, add the attachment and then click **Update**.

        **Note:** For information on managing attachments, see [Manage attachments](https://www.servicenow.com/docs/access?context=t_ManagingAttachments&version=australia&pubname=australia-platform-user-interface&ft:locale=en-US).

    -   If you are reviewing the record, review the record and click **Back** to return to the list of test results.

**Parent Topic:**[Health and Safety Testing](../concept/health-safety-testing.md)

