---
title: Accessibility conformance reports
description: Accessibility conformance reports \(ACRs\) are published for currently supported ServiceNow releases. We use the International Edition of the Information Technology Industry Council's Voluntary Product Accessibility Template \(VPAT\) to create our ACRs, which are provided in PDF format.
locale: en-US
canonical_url: https://www.servicenow.com/docs/r/accessibility/available-accessibility-conformance-reports.html
release: nofamily
topic_type: concept
last_updated: "2026-05-08"
reading_time_minutes: 16
keywords: [VPAT, VPATs, accessibility 508 conformance, section 508, us conformance code, voluntary product accessibility template, accessibility-508-conformance, conformance, european union accessibility, EN 301 549, ACR, accessibility conformance report, WCAG, WCAG 2.0, WCAG 2.1, Web content accessibility guidelines]
breadcrumb: [Product accessibility]
---

# Accessibility conformance reports

Accessibility conformance reports \(ACRs\) are published for currently supported ServiceNow releases. We use the International Edition of the Information Technology Industry Council's Voluntary Product Accessibility Template \(VPAT\) to create our ACRs, which are provided in PDF format.

The terms voluntary product accessibility template \(VPAT\) and accessibility conformance report \(ACR\) are often used interchangeably. A VPAT is a globally recognized reporting format used to evaluate accessibility of a product or service. The [Information Technology Industry Council \(ITI\)](https://www.itic.org/policy/accessibility/vpat) maintains four distinct templates that companies can use to develop ACRs. ServiceNow publishes conformance reports based on the international version of the VPAT, which incorporates Web Content Accessibility Guidelines \(WCAG\), Revised Section 508, and European Union accessibility standards.

The following reports are currently available:

**Note:** If you don't see an ACR for the most recent release, the previous version is still valid. Reports are republished when there is a significant change in a product workflow or when multiple issues have been resolved.

## Australia ACRs

<table id="table_h23_sz4_2jc"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

Employee Service Management

</td><td>

[Employee Slate powered by Nextwave \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/australia_acr_employee_slate_powered_by_nextwave.pdf)

</td></tr></tbody>
</table>## Zurich ACRs

<table id="table_c53_1vn_bgc"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

App Engine Studio

</td><td>

[App Engine Studio \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_app_engine_studio.pdf)

 [App Engine Automation Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_app_engine_automation_center.pdf)

 [Workspace Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_app_engine_workspace_builder.pdf)

</td></tr><tr><td>

Configuration Management Database \(CMDB\)

</td><td>

[CMDB Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_cmdb_workspace.pdf)

</td></tr><tr><td>

Customer Service Management

</td><td>

[Customer Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_customer_service_management.pdf)

 [CSM Business Portals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_business_portals.pdf)

 [CSM Customer Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_customer_service_portal.pdf)

 [CSM Customer Support Now Support\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_customer_support.pdf)

 [CSM Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_case_management.pdf)

 [CSM Playbook for Onboarding \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_case_playbook_for_onboarding.pdf)

 [CSM Customer Central \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_cutomer_central.pdf)

 [Self Service Portals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_csm_self_service_portals.pdf)

 [Business Location Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_business_location_service_portal.pdf)

 [Workforce Optimization for CSM \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_workforce_optimization_for_csm.pdf)

</td></tr><tr><td>

Employee Service Management

</td><td>

[Business Location Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_business_location_portal.pdf)

[Content Publishing \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_uee_content_publishing.pdf)

[Employee Center Pro \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_employee_center_pro.pdf)

[Guided Setup \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_guided_setup_player.pdf)

[Journey Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_journey_designer.pdf)

[LSD Legal Counsel Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_lsd_legal_counsel_center.pdf)

[Space Optimization \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_wsm_space_optimization.pdf)

[Talent Acquisition \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_esm_talent_acquisition.pdf)

[UEE Employee Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_uee_employee_center.pdf)

[UEE Now Mobile Employee Experience Portal for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_uee_now_mobile_employee_experience_portal_for_android.pdf)[UEE Now Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_uee_now_mobile_for_ios.pdf)

[Unified Employee Experience Portal and News with Social Engagement \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_unified_employee_experience_portal_news_social_engagement.pdf)

[Unified Employee Experiences RCE \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_unified_employee_experiences_rce.pdf)

[Workplace Central Event Planner \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_workplace_event_planner_v2.pdf)

[Workplace Lease Administration \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_wsd_workplace_lease_administration_v2.pdf)

[Workplace Move Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_wsd_workplace_move_management_v2.pdf)

[Workplace Preventive Maintenance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_workplace_preventive_maintenance_management.pdf)

[Workplace Reservation Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_wsd_workplace_reservation_management.pdf)

[Workplace Space Optimization\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_wsd_workplace_space_optimization.pdf)

</td></tr><tr><td>

Operational Sustainability Management

</td><td>

[ESG Content Accelerator \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_esg_content_accelerator.pdf)

 [ESG Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_esg_management.pdf)

</td></tr><tr><td>

Field Service Management

</td><td>

[Field Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_field_service_management.pdf)

 [FSM Territory Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_fsm_territory_planning.pdf)

 [FSM Work Order Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_fsm_work_order_management.pdf)

</td></tr><tr><td>

Financial Services Operations

</td><td>

[Financial Service Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_financial_service_operations_v2.pdf)

</td></tr><tr><td>

Governance, Risk, and Compliance

</td><td>

[Environmental, Social, Governance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grc_esg.pdf)

 [Audit Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grc_audit_management.pdf)

 [GRC Business Continuity Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/Zurich_acr_grc_bcm.pdf)

 [Compliance Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grc_compliance_case_management.pdf)

 [GRC Operational Resilience \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grc_operational_resilience.pdf)

 [Third Party Risk Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grc_third_party_risk_management.pdf)

</td></tr><tr><td>

HR Service Delivery

</td><td>

[Human Resource Service Delivery \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_human_resource_service_delivery.pdf)

 [Agent Workspace for HR Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_agent_workspace_hr_case_management.pdf)

 [HRSD Life Cycle Events \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_hr_service_delivery_life_cycle_events.pdf)

 [HRSD Journey Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_hrsd_journey_designer.pdf)

 [HRSD Workforce Optimization for HR \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_hrsd_wfo_for_hr.pdf)

</td></tr><tr><td>

IT Asset Management

</td><td>

[IT Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_it_asset_management.pdf)

 [ITAM Agent App for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_agent_app_for_android.pdf)

 [ITAM Agent App for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_agent_app_for_ios.pdf)

 [Cloud Cost Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_cloud_cost_management.pdf)

 [Enterprise Asset Management \(EAM\) \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_eam.pdf)

 [EAM Contract and Renewal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_eam_contract_and_renewal.pdf)

 [Hardware Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_ham.pdf)

 [HAM Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_ham_workspace.pdf)

 [Onboarding Playbook \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_onboarding_playbook.pdf)

 [Software Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itam_software_asset_management.pdf)

 [Software Asset Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_sam_workspace.pdf)

</td></tr><tr><td>

IT Operations Management

</td><td>

[SOW Alert Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itom_sow_alert_management.pdf)

 [ITOM Visibility \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itom_visibility.pdf)

</td></tr><tr><td>

IT Service Management

</td><td>

[IT Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_it_service_management.pdf)

 [Change Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_change_management.pdf)

 [Digital Portfolio Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_digital_portfolio_management.pdf)

 [Now Mobile Agent for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_now_mobile_agent_for_android.pdf)

 [Now Mobile Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_now_mobile_agent_for_ios.pdf)

 [Proactive Engagement \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_dex_proactive_engagement.pdf)

 [ITSM Digital Product Release \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_digital_product_release.pdf)

 [ITSM Regulatory Change Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_regulatory_change_management.pdf)

 [ITSM Service Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_service_builder.pdf)

 [SOW Admin Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_admin_center.pdf)

 [SOW Applications \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_admin_center.pdf)

 [SOW Incident Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_incident_management.pdf)

 [SOW Notify Flows \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_notify_flows.pdf)

 [SOW Problem Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_problem_management.pdf)

 [SOW Request Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_request_management.pdf)

 [SOW Walk-up Experience \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_sow_walkup_experience.pdf)

 [Vendor Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_itsm_vendor_management_workspace.pdf)

</td></tr><tr><td>

Mobile Platform

</td><td>

[Legal Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_lsd_legal_mobile_for_android.pdf)

 [Legal Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_lsd_legal_mobile_for_ios.pdf)

 [Mobile App Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_app_builder.pdf)

 [Mobile Calendar for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_calendar_for_ios.pdf)

 [Mobile Calendar for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_tlv_mobile_calendar_for_android.pdf)

 [Mobile Card Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_card_builder.pdf)

 [Mobile Data visualization for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_data_visualization_for_ios.pdf)

 [Mobile Employee Service Portal for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_tlv_mobile_employee_service_portal_for_iOS.pdf)

 [Mobile data visualization for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_tlv_mobile_data_visualization_for_android.pdf)

 [Mobile Platform Publishing Fundamentals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_platform_publishing_fundamentals.pdf)

 [Mobile Popups for iOS\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_popups_for_ios.pdf)

 [Now Agent for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_now_agent_for_android.pdf)

 [Now Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_mobile_agent_for_ios.pdf)

 [Now Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_now_mobile_for_android.pdf)

 [Knowledge Management for Now Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_knowledge_management_now_mobile.pdf)

 [Knowledge Management in Now Agent Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_knowledge_management_now_agent_android.pdf)

 [Now Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_now_mobile_for_ios.pdf)

 [Virtual Agent for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_virtual_agent_for_android.pdf)

 [Virtual Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_virtual_agent_for_ios.pdf)

</td></tr><tr><td>

Now Assist

</td><td>

[Now Assist Panel \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_now_assist_panel_v2.pdf)

 [Voice Input for Now Assist \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_voice_input_for_now_assist.pdf)

</td></tr><tr><td>

Public Sector Digital Services

</td><td>

[Active Risk Portfolio \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_active_risk_portfolio.pdf)

 [Grants Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_grants_management.pdf)

 [PSDS Government Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_psds_government_service_portal.pdf)

 [PSDS Information and Service Request Playbooks \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_psds_information_and_service_request_playbooks.pdf)

 [Reviewer Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_reviewer_service_portal.pdf)

</td></tr><tr><td>

Retail

</td><td>

[Retail Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_rso_portal.pdf)

</td></tr><tr><td>

Sales Customer Relationship Management

</td><td>

[Business Portal Self Service MACD \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_som_business_portal_self_service_macd.pdf)

 [CSM Business Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_som_csm_business_portal.pdf)

</td></tr><tr><td>

Security Operations

</td><td>

[DLP Incident Response Analyst \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_secops_dlp_incident_response_analyst.pdf)

 [Data Loss Preventions \(DLP\) Incident Response \(IR\) User Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_secops_dlp_ir_user_workspace.pdf)

 [Major Security Incident Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_secops_major_security_incident_management.pdf)

 [Security Incident Response Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_secops_security_incident_response_workspace.pdf)

 [Security Incident Response Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_secops_security_incident_response_mobile_for_ios.pdf)

</td></tr><tr><td>

ServiceNow AI Platform

</td><td>

[AI Search admin Console \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_ai_search_admin_console.pdf)

 [Clone admin Console \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_clone_admin_console.pdf)

 [Core UI Components \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_coreui16_components.pdf)

 [Guided Tour Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_guided_tours_designer.pdf)

 [Intelligent Canvas Experience \(ICE\) and Framework for Now Assist \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_ice_and_framework.pdf)

 [Knowledge Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_knowledge_portal.pdf)

 [Rich Content Editor \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_rich_content_editor.pdf)

 [Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_service_portal_v2.pdf)

 [Surveys for Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_surveys_for_service_portal.pdf)

 [Stream Connect Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_stream_connect_designer.pdf)

 [UI Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_ui_builder.pdf)

 [Vault \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_vault.pdf)

 [Virtual Agent \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_virtual_agent.pdf)

 [Virtual Agent Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_virtual_agent_designer.pdf)

</td></tr><tr><td>

Source-to-Pay Operations

</td><td>

[Supplier Lifecycle Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_psm_supplier_lifecycle_management.pdf)

</td></tr><tr><td>

Strategic Portfolio Management

</td><td>

[Agile Development 2 for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_agile_development_2_for_android.pdf)

 [Agile Development 2 for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_agile_development_2_for_ios.pdf)

 [Collaborative Work Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_collaborative_work_management.pdf)

 [Enterprise Architecture Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_enterprise_architecture_workspace.pdf)

 [Enterprise Agile Planning in Strategic Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_enterprise_agile_planning_in_strategic_planning.pdf)

 [Financials Project Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_financials_project_workspace.pdf)

 [Idea Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_idea_portal.pdf)

 [Investment Funding \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_investment_funding.pdf)

 [Kanban Boards in Collective Work Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_kanban_boards_in_collaborative_work_management.pdf)

 [Mobile Time Sheets for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_mobile_time_sheets_for_android.pdf)

 [Mobile Time Sheets for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_mobile_time_sheets_for_ios.pdf)

 [Predictive Intelligence Project Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_predictive_intelligence_project_management.pdf)

 [Project Status Report for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_project_status_report_for_android.pdf)

 [Project Status Report for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_project_status_report_for_ios.pdf)

 [Resource Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_resource_management_workspace.pdf)

 [Shopping Hub \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_shopping_hub.pdf)

 [Strategic Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_strategic_planning.pdf)

 [Time Card Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_spm_time_card_management.pdf)

</td></tr><tr><td>

Telecommunications, Media, and Technology

</td><td>

[TMT Engagement Health Tab \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_engagement_health_tab.pdf)

 [Telecommunications Network Inventory \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_telecommunications_network_inventory.pdf)

</td></tr><tr><td>

Theme Builder

</td><td>

[Theme Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_theme_builder.pdf)

</td></tr><tr><td>

Workflow Data Fabric

</td><td>

[RPA Automation Engine \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_rpa_automation_engine.pdf)

</td></tr><tr><td>

Workflow Studio

</td><td>

[Decision Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/zurich_acr_decision_builder.pdf)

</td></tr></tbody>
</table>## Yokohama ACRs

<table id="table_sn1_rlb_42c"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

Access Management

</td><td>

[Access Analyzer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_access_analyzer.pdf)

</td></tr><tr><td>

App Engine Studio

</td><td>

[Automation Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_app_engine_automation_center.pdf)

</td></tr><tr><td>

Customer Service Management

</td><td>

[CSM landing page AI Summarization \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_gen_ai_page_summarization.pdf)

</td></tr><tr><td>

Configuration Management Database \(CMDB\)

</td><td>

[CMDB Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_cmdb_workspace.pdf)

</td></tr><tr><td>

Employee Service Management

</td><td>

[Content Publishing \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_uee_content_publishing.pdf)

 [Contract Management Pro for Legal Service Delivery \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_contract_management_pro_for_lsd.pdf)

 [NowX Health and Safety Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_nowx_health_safety_case_management.pdf)

 [Workplace Event Planner \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_workplace_event_planner.pdf)

 [Workplace Lease Administration \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_wsd_workplace_lease_administration.pdf)

 [Workplace Maintenance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_wsd_workplace_maintenance_management.pdf)

 [Workplace Move Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_wsd_workplace_move_management.pdf)

 [Workplace Space Optimization \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_wsd_workplace_space_optimization.pdf)

</td></tr><tr><td>

Field Service Management

</td><td>

[FSM Territory Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_fsm_territory_planning.pdf)

 [FSM Work Order Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_fsm_work_order_management.pdf)

</td></tr><tr><td>

Financial Services Operations

</td><td>

[Financial Services Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_financial_service_operations.pdf)

</td></tr><tr><td>

Governance, Risk, and Compliance

</td><td>

[GRC Business Continuity Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_bcm.pdf)

 [GRC Continuous Authorization and Monitoring Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_continuous_authorization_monitoring.pdf)

 [GRC Environmental, Social, Governance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_esg.pdf)

 [ESG Operational Sustainability Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_esg_operational_sustainability_workspace.pdf)

 [GRC Operational Resilience \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_operational_resilience.pdf)

 [GRC Privacy Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_privacy_management.pdf)

 [GRC Risk Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_grc_risk_management.pdf)

</td></tr><tr><td>

Healthcare and Life Sciences

</td><td>

[Careteam Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_hcls_careteam_portal.pdf)

</td></tr><tr><td>

Impact Workspace

</td><td>

[Impact Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_impact_workspace_v2.pdf)

</td></tr><tr><td>

IT Asset Management

</td><td>

[ITAM Firmware Data Model \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itam_firmware_data_model.pdf)

</td></tr><tr><td>

IT Operations Management

</td><td>

[ITOM Certificate Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itom_certificate_management.pdf)

 [ITOM Cloud Discovery Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itom_cloud_discovery_workspace.pdf)

 [Discovery admin Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itom_discovery_admin_workspace.pdf)

</td></tr><tr><td>

IT Service Management

</td><td>

[ITSM DEX Proactive Engagement \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_dex_proactive_engagement.pdf)

 [Digital Portfolio Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_digital_portfolio_management.pdf)

 [Digital Product Release \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_digital_product_release.pdf)

 [Operational Technology Asset Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_itsm_ot_asset_workspace.pdf)

 [ITSM PAR landing page \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_par_landing_page.pdf)

 [SOW ITSM Applications Change Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_sow_itsm_applications_change_management.pdf)

 [SOW ITSM Applications Incident Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_sow_itsm_applications_incident_management.pdf)

 [ITSM SOW admin Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_sow_admin_center.pdf)

 [ITSM SOW On Call Scheduling \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_sow_on_call_schedules.pdf)

 [ITSM Success Dashboard \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_success_dashboard.pdf)

 [ITSM Vendor Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_itsm_vendor_management_workspace.pdf)

</td></tr><tr><td>

Mobile Platform

</td><td>

[Mobile Platform Publishing Fundamentals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_mobile_platform_publishing_fundamentals.pdf)

</td></tr><tr><td>

Operational Technology

</td><td>

[Digital Factory Workspace for Industrial Core Workforce \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_dfc_industrial_connected_workspace.pdf)

 [Operational Technology Incident and Change Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_operation_technology_incident_and_change_management.pdf)

 [Industrial Connected Workforce Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_icw_mobile_experience_for_android.pdf)

 [Industrial Connected Workforce Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_ot_industrial_connected_workspace.pdf)

 [Industrial Workforce \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_ot_industrial_workspace.pdf)

 [Operational Technology Management Visibility \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_ot_management_visibility.pdf)

 [Operational Technology Vulnerability Response \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_operation_technology_vulnerability_response.pdf)

</td></tr><tr><td>

Process Mining

</td><td>

[Process Mining\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_nowx_process_mining.pdf)

</td></tr><tr><td>

Public Sector Digital Services

</td><td>

[PSDS Information and Service Request Playbooks \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_psds_information_and_service_request_playbooks.pdf)

 [PSDS Portals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_psds_portals.pdf)

</td></tr><tr><td>

ServiceNow AI Platform

</td><td>

[Guided Tours Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_guided_tours_designer.pdf)

 [OOTB Service Portals and Service Portal Widgets \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_ootb_sp_widgets.pdf)

 [Voice Input for Now Assist \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_voice_input_for_now_assist.pdf)

 [Rich Content Editor \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_rich_content_editor.pdf)

 [ServiceNow Studio \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_servicenow_studio.pdf)

</td></tr><tr><td>

Security Operations

</td><td>

[Security Incident Response Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_security_incident_response_workspace.pdf)

 [Security Posture Control \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_security_posture_control.pdf)

 [Software Bill of Materials \(SBOM\) Core \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_sbom_core.pdf)

 [Software Bill of Materials \(SBOM\) Response \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_sbom_response.pdf)

 [Threat Intelligence \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_threat_intelligence_security_center.pdf)

 [Vulnerability Assessment Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_vulnerability_assessment_workspace.pdf)

 [Vulnerability Manager Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_secops_vulnerability_manager_workspace.pdf)

 [Vulnerability Response IT Remediation \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_vr_it_remediation.pdf)

</td></tr><tr><td>

Source-to-Pay Operations

</td><td>

[Source-to-pay Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_source_to_pay_workspace.pdf)

</td></tr><tr><td>

Strategic Portfolio Management

</td><td>

[Enterprise Architecture Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_spm_enterprise_architecture_workspace.pdf)

 [Resource Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_spm_rmw.pdf)

</td></tr><tr><td>

Telecommunications, Media, and Technology

</td><td>

[TMT Active Risk Portfolio \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_active_risk_portfolio.pdf)

 [Telecommunications Network Inventory \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_telecommunications_network_inventory.pdf)

 [TMT Risk Records Page \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_risk_record_page.pdf)

 [TMT Success Portfolio Overview \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_tmt_success_portfolio_overview.pdf)

</td></tr><tr><td>

Workflow Studio

</td><td>

[Workflow Automation \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_workflow_automation_workflow_studio.pdf)

 [Workflow Automation Triggers \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_workflow_automation_trigger.pdf)

 [Process Automation Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/yokohama_acr_process_automation_designer.pdf)

</td></tr></tbody>
</table>## Xanadu ACRs

<table id="table_a3k_5w3_vcc"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

App Engine Studio

</td><td>

[App Engine Studio \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_app_engine_studio.pdf)

 [AES Automation Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_app_engine_automation_center.pdf)

 [App Engine Table Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_app_engine_table_builder.pdf)

 [AES Workspace Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_app_engine_workspace_builder.pdf)

</td></tr><tr><td>

Configuration Management Database \(CMDB\)

</td><td>

[CMDB Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_cmdb_workspace.pdf)

</td></tr><tr><td>

Customer Service Management

</td><td>

[Customer Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_customer_service_management.pdf)

 [CSM Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_csm_case_management.pdf)

 [CSM Case Playbook for Onboarding \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_csm_case_playbook_for_onboarding.pdf)

 [CSM Customer Central \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_csm_customer_central.pdf)

 [CSM Self Service Portals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_csm_self_service_portals.pdf)

 [Workforce Optimization for CSM Configurable Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_workforce_optimization_for_csm.pdf)

</td></tr><tr><td>

Decision Builder

</td><td>

[Decision Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_decision_builder.pdf)

</td></tr><tr><td>

Employee Service Management

</td><td>

[Employee Center Pro \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_employee_center_pro.pdf)

 [ESM Talent Acquisition \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_esm_talent_acquisition.pdf)

 [WSD Workplace Move Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_wsd_workplace_move_management.pdf)

 [WSD Workplace Reservation Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_wsd_workplace_reservation_management.pdf)

 [WSD Workplace Lease Administration \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_wsd_workplace_lease_administration.pdf)

 [Workplace Preventive Maintenance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_workplace_preventive_maintenance_management.pdf)

</td></tr><tr><td>

Enterprise Asset Management

</td><td>

[Enterprise Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_enterprise_asset_management.pdf)

 [EAM Contract and Renewal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_eam_contract_and_renewal.pdf)

</td></tr><tr><td>

Operational Sustainability Management

</td><td>

[Content Accelerator \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_esg_content_accelerator.pdf)

 [Environment, Social, and Governance Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_esg_management.pdf)

 [ESG Sustainable IT \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_grc_esg_sustainable_it.pdf)

</td></tr><tr><td>

Field Service Management

</td><td>

[Field Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_field_service_management.pdf)

</td></tr><tr><td>

Finance and Supply Chain

</td><td>

[Shopping Hub and Operations Team \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_shopping_hub_and_operations_team.pdf)

</td></tr><tr><td>

Financial Services Operations

</td><td>

[Financial Services Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_financial_service_operations.pdf)

</td></tr><tr><td>

Governance, Risk, and Compliance

</td><td>

[GRC Audit Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_grc_audit_management.pdf)

 [GRC Compliance Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_grc_compliance_case_management.pdf)

 [GRC Third Party Risk Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_grc_third_party_risk_management.pdf)

</td></tr><tr><td>

HR Service Delivery

</td><td>

[HR Service Delivery \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_human_resources_service_delivery.pdf)

 [HR Service Delivery Agent Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_hrsd_agent_workspace.pdf)

 [Workforce Optimization for HR \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_hrsd_wfo_for_hr.pdf)

</td></tr><tr><td>

Impact Workspace

</td><td>

[Impact Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_impact_workspace.pdf)

</td></tr><tr><td>

IT Asset Management

</td><td>

[IT Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_it_asset_management.pdf)

 [ITAM Agent App for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_agent_app_for_android.pdf)

 [ITAM Agent App for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_agent_app_for_ios.pdf)

 [ITAM Enterprise Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_eam.pdf)

 [ITAM Hardware Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_ham.pdf)

 [ITAM Onboarding Playbook Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_onboarding_playbook.pdf)

 [ITAM Software Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_software_asset_management.pdf)

 [ITAM SAM Success Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itam_sam_success_portal.pdf)

</td></tr><tr><td>

IT Operations Management

</td><td>

[ITOM Cloud Services Catalog \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itom_cloud_services_catalog.pdf)

 [ITOM Visibility \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itom_visibility.pdf)

</td></tr><tr><td>

IT Service Management

</td><td>

[IT Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_it_service_management.pdf)

 [ITSM Coaching Surveys and Assessments \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_coaching_surveys_and_assessments.pdf)

 [ITSM Regulatory Change Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_regulatory_change_management.pdf)

 [ITSM Service Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_service_builder.pdf)

 [Digital Portfolio Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_digital_portfolio_management.pdf)

 [Digital Product Release \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_digital_product_release.pdf)

 [ITSM SOW Applications \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_applications.pdf)

 [ITSM Change Management for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_change_management.pdf)

 [ITSM Incident Management for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_incident_management.pdf)

 [ITSM Notify Flows for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_notify_flows.pdf)

 [ITSM Problem Management for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_problem_management.pdf)

 [ITSM request management for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_request_management.pdf)

 [ITSM SOW admin Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_admin_center.pdf)

 [ITSM SOW Walkup Experience \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_sow_walkup_experience.pdf)

 [ITSM Vendor Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_itsm_vendor_management.pdf)

</td></tr><tr><td>

Now Assist

</td><td>

[ITSM Now Assist Panel \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_now_assist_panel.pdf)

</td></tr><tr><td>

Mobile Platform

</td><td>

[Mobile App Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_mobile_app_builder.pdf)

[Mobile Calendar for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_tlv_mobile_calendar_for_android.pdf)

[Mobile Calendar for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_mobile_calendar_for_ios.pdf)

[Mobile Card Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_mobile_card_builder.pdf)

[Mobile Data Visualizations for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_tlv_mobile_data_visualization_for_android.pdf)

[Mobile Data Visualizations for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_mobile_data_visualization_for_ios.pdf)

[Mobile Popups for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_mobile_popups_for_ios.pdf)

[Now Agent for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_now_agent_for_android.pdf)

[Now Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_now_agent_for_ios.pdf)

[Now Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_now_mobile_for_android.pdf)[Now Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_now_mobile_for_ios.pdf)

</td></tr><tr><td>

ServiceNow AI Platform

</td><td>

[Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_service_portal.pdf)

 [UI Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_ui_builder.pdf)

 [Virtual Agent \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_virtual_agent.pdf)

 [Virtual Agent for iOS\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_virtual_agent_for_ios.pdf)

 [Virtual Agent for Android\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_virtual_agent_for_android.pdf)

</td></tr><tr><td>

Public Sector Digital Services

</td><td>

[PSDS Government Services Portals \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_psds_government_service_portals.pdf)

 [PSDS Information and Service Request Playbooks \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_psds_information_and_service_request_playbooks.pdf)

</td></tr><tr><td>

Security Operations

</td><td>

[DLP Incident Response Analyst \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_secops_dlp_incident_response_analyst.pdf)

 [DLP IR User Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_secops_dlp_ir_user_workspace.pdf)

 [Major Security Incident Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_secops_major_security_incident_management.pdf)

 [Security Incident Response Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_secops_security_incident_response_workspace.pdf)

</td></tr><tr><td>

ServiceNow Vault

</td><td>

[ServiceNow Vault \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_vault.pdf)

</td></tr><tr><td>

Source-to-Pay Operations

</td><td>

[Supplier Lifecycle Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_psm_supplier_lifecycle_management.pdf)

</td></tr><tr><td>

Strategic Portfolio Management

</td><td>

[SPM Agile Development 2 for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_agile_development_2_for_android.pdf)

 [SPM Agile Development 2 for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_agile_development_2_for_ios.pdf)

 [SPM Collaborative Work Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_collaborative_work_management.pdf)

 [Enterprise Agile Planning in Strategic Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_enterprise_agile_planning_in_strategic_planning.pdf)

 [Enterprise Architecture Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_enterprise_architecture_workspace.pdf)

 [Financials \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_financials.pdf)

 [Investment Funding \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_investment_funding.pdf)

 [Mobile Time Sheets for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_mobile_time_sheets_for_android.pdf)

 [Mobile Time Sheets for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_mobile_time_sheets_for_ios.pdf)

 [Predictive Intelligence for Product Portfolio Management \(PPM\) \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_ppm_predictive-intelligence.pdf)

 [Project Status Report for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_project_status_report_for_android.pdf)

 [Project Status Report for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_project_status_report_for_ios.pdf)

 [Resource Management Workspace\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_resource_management_workspace.pdf)

 [Strategic Planning \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_strategic_planning.pdf)

 [Shopping Hub \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_spm_shopping_hub.pdf)

</td></tr><tr><td>

Theme Builder

</td><td>

[Theme Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_theme_builder.pdf)

</td></tr><tr><td>

Workflow Data Fabric

</td><td>

[Integration Hub \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_workflow_data_fabric_integration_hub.pdf)

 [RPA Automation Engine \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_rpa_automation_engine.pdf)

</td></tr><tr><td>

Workplace Central

</td><td>

[Workplace Central Event Planner \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_workpace_event_planner.pdf)

</td></tr><tr><td>

Workplace Space Management

</td><td>

[Space Optimization for WSM\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_wsm_space_optimization.pdf)

</td></tr></tbody>
</table>## Washington DC ACRs

<table id="table_nyj_skq_21c"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

App Engine Studio

</td><td>

[App Engine Workspace Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/xanadu_acr_app_engine_workspace_builder.pdf)

</td></tr><tr><td>

Automation Center

</td><td>

[Automation Center with Automation Engine \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_automation_center_auto_eng.pdf)

</td></tr><tr><td>

Configuration Management Database

</td><td>

[CMDB Data Foundations Dashboards \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_cmdb_data_foundations_dashboards.pdf)

 [CMDB Health Dashboards \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_cmdb_health_dashboards_1.1.pdf)

 [CMDB Unified Map \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_cmdb_unified_map.pdf)

 [CMDB Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_cmdb_workspace.pdf)

 [CMDB Workspace Attestation UI \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_cmdb_workspace_attestation.pdf)

</td></tr><tr><td>

Customer Service Management

</td><td>

[Customer Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_customer_service_management.pdf)

 [CSM Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_csm_case_management.pdf)

 [Workforce Optimization for Customer Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_csm_workforce_optimization.pdf)

</td></tr><tr><td>

Decision Builder

</td><td>

[Decision Builder \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_decision_builder.pdf)

</td></tr><tr><td>

Employee Center Pro

</td><td>

[Employee Center Pro \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_employee_center_pro.pdf)

</td></tr><tr><td>

Employee Service Management

</td><td>

[ESM Talent Acquisition \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_esm_talent_acquisition.pdf)

 [Space Optimization for Workplace Space Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_wsm_space_optimization.pdf)

 [Workplace Central Event Planner \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_workplace_event_planner.pdf)

</td></tr><tr><td>

Enterprise Asset Management

</td><td>

[EAM Contract and Renewals Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_eam_contract_and_renewal_management.pdf)

</td></tr><tr><td>

Financial Services Operations

</td><td>

[Financial Services Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_financial_services_operations.pdf)

</td></tr><tr><td>

Governance, Risk, and Compliance

</td><td>

[GRC Audit Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_grc_audit_management.pdf)

 [GRC Compliance Case Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_grc_compliance_case_management.pdf)

 [GRC Third Party Risk Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_grc_third_party_risk_management.pdf)

</td></tr><tr><td>

HR Service Delivery

</td><td>

[HR Service Delivery Agent Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_hrsd_agent_workspace.pdf)

 [Workforce Optimization for HR \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_hrsd_wfo_for_hr.pdf)

</td></tr><tr><td>

IT Asset Management

</td><td>

[ITAM Enterprise Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itam_eam_v2.pdf)

 [ITAM Hardware Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itam_ham_v2.pdf)

 [ITAM Software Asset Management\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itam_sam.pdf)

 [ITAM Onboarding Playbook \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itam_onboarding_playbook.pdf)

</td></tr><tr><td>

IT Service Management

</td><td>

[Digital Portfolio Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_digital_portfolio_management.pdf)

 [IT Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_it_service_management.pdf)

 [ITSM Change Management for Service Operations Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_change_management.pdf)

 [ITSM Incident Management for Service Operations Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_incident_management.pdf)

 [ITSM Interaction, On-Call, and Collaboration Flows for SOW \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_interaction_on_call_collaboration_flows.pdf)

 [ITSM Notify Flows for Service Operations Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_notify_flows.pdf)

 [ITSM Problem Management for Service Operations Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_problem_management.pdf)

 [ITSM request management for Service Operations Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_request_management.pdf)

 [ITSM Vendor Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_vendor_management_workspace.pdf)

 [Service Operations Workspace admin Center \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_admin_center.pdf)

 [Service Operations Workspace Walk-Up Experience for ITSM \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itsm_sow_walkup_experience.pdf)

</td></tr><tr><td>

IT Operations Management

</td><td>

[ITOM Service Operations Workspace Alert Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itom_sow_alert_management.pdf)

 [ITOM Visibility \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_itom_visibility.pdf)

</td></tr><tr><td>

Now Mobile

</td><td>

[Now Mobile for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_now_mobile_for_android.pdf)

 [Now Mobile for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_now_mobile_for_ios.pdf)

</td></tr><tr><td>

ServiceNow AI Platform

</td><td>

[Flow Designer \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_flow_designer.pdf)

 [Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_service_portal.pdf)

 [UI Builder\(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_ui_builder.pdf)

 [Virtual Agent \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_virtual_agent.pdf)

 [Virtual Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_virtual_agent_for_iOS.pdf)

</td></tr><tr><td>

Public Sector Digital Services

</td><td>

[PSDS Government Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_psds_government_service_portal.pdf)

</td></tr><tr><td>

Security Operations

</td><td>

[Data Loss Prevention Incident Response Analyst \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_secops_dlp_incident_response_analyst.pdf)

 [Security Incident Response Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_secops_security_incident_response_workspace.pdf)

</td></tr><tr><td>

Strategic Portfolio Management

</td><td>

[SPM Project Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_spm_project_workspace.pdf)

 [SPM Resource Management Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_spm_resource_management_workspace.pdf)

</td></tr><tr><td>

Workplace Service Delivery

</td><td>

[Workplace Move Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/washington_acr_wsd_workplace_move_management.pdf)

</td></tr></tbody>
</table>## Vancouver Family Release ACRs

<table id="table_skb_1zr_pyb"><thead><tr><th>

Product

</th><th>

Download

</th></tr></thead><tbody><tr><td>

Accounts Payable Operations

</td><td>

[Accounts Payable Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_accounts_payable_operations.pdf)

</td></tr><tr><td>

Configuration Management Database

</td><td>

[CMDB Health Dashboard \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_cmdb_health_dashboard.pdf)

 [CMDB Workspace \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_cmdb_workspace.pdf)

 [CMDB Workspace Attestation UI \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_cmdb_workspace_attestation_ui.pdf)

</td></tr><tr><td>

Employee Center Pro

</td><td>

[Employee Center Pro \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_employee_center_pro.pdf)

</td></tr><tr><td>

HR Service Delivery

</td><td>

[HR Service Delivery \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_hr_service_delivery.pdf)

</td></tr><tr><td>

IT Asset Management

</td><td>

[IT Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_it_asset_management.pdf)

 [ITAM Software Asset Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_itam_software_asset_management.pdf)

</td></tr><tr><td>

IT Service Management

</td><td>

[IT Service Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_it_service_management.pdf)

 [ITSM Service Operations Workspace for request management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_itsm_sow_request_management_v2.pdf)

</td></tr><tr><td>

IT Operations Management

</td><td>

[ITOM Visibility \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_itom_visibility.pdf)

</td></tr><tr><td>

ServiceNow AI Platform

</td><td>

[Service Portal \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_service_portal.pdf)

 [Virtual Agent \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_virtual_agent.pdf)

 [Virtual Agent for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_virtual_agent_for_android.pdf)

 [Virtual Agent for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_virtual_agent_for_ios.pdf)

</td></tr><tr><td>

ServiceNow Vault

</td><td>

[ServiceNow Vault \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_servicenow_vault.pdf)

</td></tr><tr><td>

Source-to-Pay Operations

</td><td>

[Supplier Lifecycle Operations \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_stp_ops_supplier_lifecycle_operations.pdf)

</td></tr><tr><td>

Strategic Portfolio Management

</td><td>

[Scaled Agile Framework for SPM \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_scaled_agile_framework.pdf)

 [Scenario Planning for PPM \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_ppm_scenario_planning.pdf)

 [SPM Agile Development v2 for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_agile_development_v2_for_android_v1.1.pdf)

 [SPM Agile Development v2 for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_agile_development_v2_for_ios_v1.1.pdf)

 [SPM Investment Funding \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_investment_funding.pdf)

 [SPM Mobile Time Sheets for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_mobile_time_sheets_for_android_v1.1.pdf)

 [SPM Mobile Time Sheets for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_mobile_time_sheets_for_ios.pdf)

 [SPM Predictive Intelligence for Project Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_predictive_intelligence_project_management.pdf)

 [SPM Project Status Report for Android \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_project_status_report_for_android.pdf)

 [SPM Project Status Report for iOS \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_project_status_report_for_ios_v1.1.pdf)

 [Strategic Planning for SPM \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_spm_strategic_planning.pdf)

</td></tr><tr><td>

Workplace Service Delivery

</td><td>

[Workplace Reservation Management \(`.pdf`\)](https://downloads.docs.servicenow.com/resource/enus/compliance/vancouver_acr_wsd_workplace_reservation_management.pdf)

</td></tr></tbody>
</table>**Parent Topic:**[Product accessibility](https://raw.githubusercontent.com/ServiceNow/ServiceNowDocs/nofamily/markdown/accessibility/product_accessibility.md)

