---
title: Enroll for the Password Reset program using emailed codes
description: To verify your identity while resetting your password, you enter a code that was sent to your email address. You can enroll for this program on a mobile device.
locale: en-US
release: australia
product: Password Reset
classification: password-reset
topic_type: task
last_updated: "2026-03-12"
reading_time_minutes: 2
breadcrumb: [Enrolling in the Password Reset application to reset your password, Password Reset, Manage service capabilities, Extend ServiceNow AI Platform capabilities]
---

# Enroll for the Password Reset program using emailed codes

To verify your identity while resetting your password, you enter a code that was sent to your email address. You can enroll for this program on a mobile device.

## Before you begin

Role required: none

## About this task

During this enrollment process, you add the email address, the system sends you a code so you can verify the address, and then you authorize the address to be used for the Password Reset process. By default, the system sends the code to the email address that is associated with your ServiceNow profile. You can send the code to additional email addresses.

## Procedure

1.  Navigate to **All** &gt; **Password Reset** &gt; **Enroll** and then click the **Email Verification** tab.

    If your organization requires you to enroll for the Email verification method, then the tab is marked with an asterisk \(\*\). Email addresses that were added previously are listed on the tab.

2.  Click **Add Email**, enter the email address and a meaningful email name to associate with the address and then click **Add Email**.

    Repeat the process for as many email addresses as you need.

3.  On the **Email Verification** tab, for each email that should receive Password Reset codes, click **Verify**.

    The system sends an email message with a code and then displays the **Verify the Email Address** pop-up.

4.  On the **Verify the Email Address** pop-up, enter the code and click **Verify**.

    **Note:** If this process fails, click **Send a New Code** to send a different code and try again.

5.  After you verify each email address, select the **Authorized** check box for each address that you expect to use to change or reset your password.

    **Note:** To deauthorize an email address so that it does not receive Password Reset codes, clear the **Authorized** check box.

6.  Click **Submit**.

7.  Enroll for an additional identity verification using any of the other methods that your organization offers.

    For more information about enrolling using different methods, see the following topics:

    -   [Enroll for the Password Reset program using questions and answers](t_EnrollUsingASecurityQuestion.md)
    -   [Enroll for the Password Reset program using SMS codes](t_EnrollUsingSMS.md)
    -   [Enroll for the Password Reset program using an authenticator](authenticator-app-verification.md)

